<!DOCTYPE html>
 <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Debit & Credit Note{% endtrans %}</title>
 <link href="{{request.static_url('gkwebapp:static/css/drcrnote.css')}}" rel="stylesheet" type="text/css">
 <body style="padding-right:1%;">
   <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
     <!-- Alerts for drcrnote -->
     <div class="alert alert-success" id="cr-success-alert"  aria-live="rude" role="alert" hidden>
       {% trans %}Credit Note saved.{% endtrans %}
     </div>
     <div class="alert alert-success" id="dr-success-alert"  aria-live="rude" role="alert" hidden>
       {% trans %}Debit Note saved.{% endtrans %}
     </div>
     <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
       {% trans %}Something went wrong!{% endtrans %}
     </div>
     <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>
       {%  if drcrflag=="3"%}
	 {% trans %}Duplicate Credit Note number!{% endtrans %}
       {%else%}
	 {% trans %}Duplicate Debit Note number!{% endtrans %}
       {% endif %}
     </div>
          <div class="alert alert-danger" id="invoice-blank-alert" aria-live="rude" role="alert" hidden>
       {% trans %}Please select Invoice.{% endtrans %}
     </div>
     <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

       <label >{% trans %}Please enter date!{% endtrans %}</label>
       
     </div>
     <div class="alert alert-danger" id="month-blank-alert"  aria-live="rude" role="alert" hidden>

       {% trans %}Please enter the Month.{% endtrans %}
     </div>
     <div class="alert alert-danger" id="proper-date-alert"  aria-live="rude" role="alert" hidden>

       {% trans %}Please enter date in proper format!{% endtrans %}
     </div>

     <div class="alert alert-danger" id="drcrno-blank-alert" aria-live="rude" role="alert" hidden>
       {% if drcrflag == "3" %}
	 <label>{% trans %}Please enter credit note number.{% endtrans %}</label>
       {% else %}
	 <label>{% trans %}Please enter debit note number.{% endtrans %}</label>
       {% endif %}
     </div>
     <div class="alert alert-danger" id="drcrnoref-blank-alert" aria-live="rude" role="alert" hidden>
       {% if drcrflag == "3" %}
	 <label>{% trans %}Please enter debit note number.{% endtrans %}</label>
       {% else %}
	 <label>{% trans %}Please enter credit note number.{% endtrans %}</label>
       {% endif %}
     </div>   
     <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>
       <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
     </div>
     <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

       {% trans %}Please enter date within the financial year!{% endtrans %}
     </div>
     <div class="alert alert-danger" id="prior-date-alert" aria-live="rude" role="alert" hidden>
       {% if drcrflag == "3" %}
	 {% trans %}Credit Note date cannot be prior to Invoice Date!{% endtrans %}
       {%else%}
	 {% trans %}Debit Note date cannot be prior to Invoice Date!{% endtrans %}
       {% endif %}
     </div>
     <div class="alert alert-danger" id="drcr-value-alert"  aria-live="rude" role="alert" hidden>
       {% if drcrflag=="3" %}
	 <label >{% trans %}Credit value must not be zero and less than zero!{% endtrans %}</label>
       {% else %}
	 <label >{% trans %}Debit value must not be zero and less than zero!{% endtrans %}</label>
       {% endif %}
     </div>
     <div class="alert alert-danger" id="exceed-blank-alert"  aria-live="rude" role="alert" hidden>
       {% if drcrflag=="3" %}
	 <label> {% trans %}Credit value cannot be greater than price per unit!{% endtrans %}</label>
       {% endif %}
     </div>
     <div class="panel drcr_panel shadow">
       <div class="panel-body">
	 <div class="container-fluid row">
	   <form class="form-horizontal" >
	     <div class="form-inline col-sm-12 row"> 
	       <div class="col-md-7">
		 <label>{% trans %}Select Purpose Type{% endtrans %}:</label>
		 <div class="radio" style="margin-left:5px;"> 
        	   <label><input type="radio" class="form-control input-sm nopadding" name="discountreturn" id="discount" aria-label="" checked>&nbsp{% trans %}Price Adjustment/ Discount{% endtrans %}</label>
        	 </div>
		 <div class="radio">
        	   <label><input type="radio" class="form-control input-sm nopadding" name="discountreturn" id="return" aria-label="">&nbsp {% trans %}Quantity Adjustment/ Return of Goods{% endtrans %}</label>
        	 </div>
	       </div>
	       <div class="col-md-4">
		 <label for="inv">{% trans %}Select Invoice Type{% endtrans %}:</label>
		 <div class="radio" style="margin-left:5px;"> 
        	   <label><input type="radio" class="form-control input-sm nopadding" name="invoice" id="sale" aria-label="{% trans %}Sale Invoice{% endtrans %}" style="margin-right:5px;" checked>{% trans %}Sale Invoice{% endtrans %}</label>
        	 </div>
		 <div class="radio">
        	   <label><input type="radio" class="form-control input-sm nopadding" name="invoice" id="purchase" aria-label="{% trans %}Sale Invoice{% endtrans %}" style="margin-right:5px;">{% trans %}Purchase Invoice{% endtrans %}</label>
        	 </div>
	       </div>
	     </div>
	     <div class="col-md-12">
	       <div class="col-md-4">
		 {% if drcrflag == "3" %}
		   <h4>{% trans %}Details of Credit Note: {% endtrans %}</h4>
		 {% else %}
		   <h4>{% trans %}Details of Debit Note: {% endtrans %}</h4>
		 {% endif %}
		 <div class="form-group form-inline" id="invoicerow">
		   <label class="col-sm-4 fsize" for="drcrnote_invoice">{% trans %}Invoice No.{% endtrans %} : <label for="drcrnote_invoice" style="color:red;font-size:120%;">*</label></label>
		   <!-- sale invoice select -->
		   <select class="form-control input-sm col-sm-8 selectfieldwidth"  id="drcrnote_invoice">
                     <option value="" invoiceno = "" selected>Select Invoice</option>
                     {% for invoice in invoicesS %}
                       <option value="{{invoice['invid']}}" invoiceno = "{{invoice["invoiceno"]}}" invoicedate="{{invoice['invoicedate']}}">{{invoice["invoiceno"]}}, {{invoice['invoicedate']}}, {{invoice["custname"]}}</option>
		     {% endfor %}
		   </select>
		   <!-- purchase invoice -->
		   <select class="form-control input-sm col-sm-8 selectfieldwidth"  id="drcrnote_invoice_purchase">
                     <option value="" invoiceno = "" selected>Select Invoice</option>
                     {% for invoice in invoicesP %}
		       <option value="{{invoice['invid']}}" invoiceno = "{{invoice["invoiceno"]}}" invoicedate="{{invoice['invoicedate']}}">{{invoice["invoiceno"]}}, {{invoice['invoicedate']}}, {{invoice["custname"]}}</option>
                     {% endfor %}
		   </select>
		 </div>
		 <div class="form-group form-inline">
		   {% if drcrflag == "3" %}
		     <label class="col-sm-4 fsize" for="crnote_no">{% trans %}Cr Note No.{% endtrans %} : <label for="crnote_no" style="color:red;font-size:120%;">*</label></label>
		   {% else %}
		     <label class="col-sm-4 fsize" for="drnote_no">{% trans %}Dr Note No.{% endtrans %} : <label for="drnote_no" style="color:red;font-size:120%;">*</label></label>
		   {% endif %}
		   <input class="form-control input-sm col-sm-8" size="15" id="drcrnote_no" value= {{ lastdrcrno }}>
			 
		 </div>
		 <div class="form-group form-inline">
		   {% if drcrflag == "3" %}
		     <label for="crnote_date" class="col-sm-4 fsize">{% trans %}Cr Note Date{% endtrans %} : <label for="crnote_date" style="color:red;font-size:120%;">*</label></label>
		   {% else %}
		     <label for="drnote_date" class="col-sm-4 fsize">{% trans %}Dr Note Date{% endtrans %} : <label for="drnote_date" style="color:red;font-size:120%;">*</label></label>
		   {% endif %}
		   <input type="text" class="form-control input-sm drcrnotedate" size="2" maxlength="2" placeholder="DD" id="drcrnote_date" accesskey="v">
                   <input type="text" class="form-control input-sm drcrnotedate" size="2" maxlength="2" placeholder="MM" id="drcrnote_month" accesskey="v">
                   <input type="text" class="form-control input-sm drcrnotedate" size="4" maxlength="4" placeholder="YYYY" id="drcrnote_year" accesskey="v">
                 </div>
		 <div class="form-group form-inline">
		   <div class="col-sm-6">

		     <input type="checkbox" id="reference" >
		     <label for="ref">{%trans%}Reference (If Received){%endtrans%}</label>
		     
		   </div>
		 </div>
		 <div class="form-group form-inline ref " hidden >
		     {% if drcrflag == "3" %}
		       <label class="col-sm-4 fsize" for="crnote_no" >{% trans %}Dr Note No.{% endtrans %} : <label for="crnote_no" style="color:red;font-size:120%;">*</label></label>
		     {% else %}
		       <label class="col-sm-4 fsize" for="drnote_no" >{% trans %}Cr Note No.{% endtrans %} : <label for="drnote_no" style="color:red;font-size:120%;">*</label></label>
		     {% endif %}
		     <input class="form-control input-sm col-sm-8" size="15" id="drcrnote_no_ref"  >
		 </div>
		 
		   <div class="form-group form-inline ref " hidden>
		   {% if drcrflag == "3" %}
		     <label for="crnote_date" class="col-sm-4 fsize" >{% trans %}Dr Note Date{% endtrans %} : <label for="crnote_date" style="color:red;font-size:120%;">*</label></label>
		   {% else %}
		     <label for="drnote_date" class="col-sm-4 fsize" >{% trans %}Cr Note Date{% endtrans %} : <label for="drnote_date" style="color:red;font-size:120%;">*</label></label>
		   {% endif %}
		   <input type="text" class="form-control input-sm drcrnotedate" size="2" maxlength="2" placeholder="DD" id="drcrnote_date_ref" accesskey="v" >
                   <input type="text" class="form-control input-sm drcrnotedate" size="2" maxlength="2" placeholder="MM" id="drcrnote_month_ref" accesskey="v">
                   <input type="text" class="form-control input-sm drcrnotedate" size="4" maxlength="4" placeholder="YYYY" id="drcrnote_year_ref" accesskey="v" >
                   
		   </div>
		   {% if resultgstvat != '22' %}
		     <div class="form-group form-inline">
		       <label class="col-sm-4 fsize gstinfield" for="orggstin">{% trans %}GSTIN{% endtrans %} :</label>
		       <label class="col-sm-8 nopadding fsize gstinfield" id="orggstin"></label>
		     </div>
		   {% endif %}
               </div>

	       <!-- on the basis of sale and purchase start -->
	       <div class="salediv" >
	       <div class="col-md-4 borderdiv ">
		 <h4>{% trans %}Details of Sale Invoice{% endtrans %} :</h4>

		 <div class="form-group form-inline">
		   <label class="col-sm-4 fsize">{% trans %}Dispatch From{% endtrans %} :</label>
		   <label class="col-sm-8 nopadding fsize" id="drcrnote_state" aria-describedby="statefordrcrnote"></label>
		 </div>
		 <div class="form-group form-inline">
		   <label class="col-sm-4 fsize" aria-describedby="statecodefordrcrnote">{% trans %}State Code{% endtrans %} :</label>
		   <label class="col-sm-8 nopadding fsize" id="statecodefordrcrnote"></label>
		 </div>
		 <div class="form-group form-inline">
		   <label class="col-sm-4 fsize" aria-describedby="drcrnote_issuer_name">{% trans %}Issuer's Name{% endtrans %} :</label>
		   <label class="col-sm-8 nopadding fsize" id="drcrnote_issuer_name"></label>
		 </div>
		 <div class="form-inline form-group">
		   <label class="col-sm-4 fsize" aria-describedby="drcrnote_issuer_designation">{% trans %}Designation{% endtrans %} :</label>
		   <label class="col-sm-8 nopadding fsize" id="drcrnote_issuer_designation"></label>
		 </div>
	       </div>
		 <div class="col-md-4 borderdiv">
		   <h4>{% trans %}Details of Receiver | Billed to{% endtrans %} :</h4>
		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize" aria-describedby="drcrnote_custsupp">{% trans %}Customer{% endtrans %} :</label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_custsupp"></label>
		   </div>


		   <div class="form-group form-inline">
		     <label aria-describedby="drcrnote_custsuppstate" class="col-sm-4 fsize">{% trans %}Customer State{% endtrans %}:</label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_custsuppstate"></label>
		   </div>
		   <div class="form-group form-inline">
		     <label aria-describedby="statecodeofcustsupp" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
		     <label id="statecodeofcustsupp" class="col-sm-8 nopadding"></label>
		   </div>
		   <div class="form-group form-inline tinfield" hidden>
		     <label aria-describedby="tin" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
		     <label type="text" id="tin" class="col-sm-8 nopadding"></label>
		   </div>
		   <div class="form-group form-inline gstinfield">
		     <label aria-describedby="gstin" class="col-sm-4 fsize">{% trans %}GSTIN{% endtrans %} :</label>
		     <label type="text" id="gstin" class="col-sm-8 nopadding" name="gstin" ></label>
		   </div>
		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize" for="drcrnote_custsuppaddr">{% trans %}Customer Address{% endtrans %} :</label>
		     <label class="col-sm-8 nopadding" id="drcrnote_custsuppaddr" ></label>
		   </div>
		 </div>
	       </div>
	       <div class="purchasediv" >
		 <div class="col-md-4 borderdiv">
		   <h4>{% trans %}Details of Purchase Invoice{% endtrans %} :</h4>
		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize">{% trans %}Received At {% endtrans %} :</label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_state_pur" aria-describedby="statefordrcrnote"></label>
		   </div>

		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize" aria-describedby="statecodefordrcrnote">{% trans %}State Code{% endtrans %} :</label>
		     <label class="col-sm-8 nopadding fsize" id="statecodefordrcrnote_pur"></label>
		   </div>
		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize" aria-describedby="drcrnote_issuer_name">{% trans %}Issuer's Name{% endtrans %} :</label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_issuer_name_pur"></label>
		   </div>
		   <div class="form-inline form-group">
		     <label class="col-sm-4 fsize" aria-describedby="drcrnote_issuer_designation">{% trans %}Designation{% endtrans %} :</label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_issuer_designation_pur"></label>
		   </div>
		 </div>
		 <div class="col-md-4 borderdiv">
		   <h4>{% trans %}Details of Supplier{% endtrans %} :</h4>
		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize" aria-describedby="drcrnote_custsupp">{% trans %}Supplier{% endtrans %} : </label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_custsupp_pur"></label>
		   </div>
		   <div class="form-group form-inline">
		     <label aria-describedby="drcrnote_custsuppstate" class="col-sm-4 fsize">{% trans %}Supplier State{% endtrans %}:</label>
		     <label class="col-sm-8 nopadding fsize" id="drcrnote_custsuppstate_pur"></label>
		   </div>
		   <div class="form-group form-inline">
		     <label aria-describedby="statecodeofcustsupp" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
		     <label id="statecodeofcustsupp_pur" class="col-sm-8 nopadding"></label>
		   </div>
		   <div class="form-group form-inline tinfield" hidden>
		     <label aria-describedby="tin" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
		     <label type="text" id="tin_pur" class="col-sm-8 nopadding"></label>
		   </div>
		   <div class="form-group form-inline gstinfield">
		     <label aria-describedby="gstin" class="col-sm-4 fsize">{% trans %}GSTIN{% endtrans %} :</label>
		     <label type="text" id="gstin1_pur" class="col-sm-8 nopadding" name="gstin" ></label>
		   </div>
		   <div class="form-group form-inline">
		     <label class="col-sm-4 fsize" for="drcrnote_custsuppaddr">{% trans %}Supplier Address{% endtrans %}: </label>
		     <label class="col-sm-8 nopadding" id="drcrnote_custsuppaddr_pur" ></label>
		   </div>
		 </div>
	       </div>
	       </div>

	       <!-- sale/purchase end -->
	     <a id="taxapplicablescroll"></a>
	     <div class="col-md-12 row">
	       <div class="col-md-3">
		 <label aria-describedby="taxapplicabletext" name="taxflag" >{% trans %}Tax Applicable{% endtrans %} : </label>
		 <label id="taxapplicabletext" ></label>
	       </div>
	       {% if drcrflag=="3" %}
	       <input type="hidden" id="status" value="3">
	       {% else %}
	       <input type="hidden" id="status" value="4">
	       {% endif %}
	     </div>
	     <div class="col-md-12">
	       <div class="alert alert-danger" id="crdrvalblank-alert"  aria-live="rude" role="alert" hidden>
		 {%  if drcrflag=="3"%}
		   {% trans %}Credited Value must not be empty or zero!{% endtrans %}
		 {%else%}
		   {% trans %}Debited Value must not be empty or zero!{% endtrans %}
		 {% endif %}
	       </div>
	       <div class="alert alert-danger" id="crdr_qty_blank_alert"  aria-live="rude" role="alert" hidden>
		 {% trans %}Billed Quantity cannot be zero or empty!{% endtrans %}
	       </div>
	       {% if resultgstvat == '29' or resultgstvat == '22' or resultgstvat == '7' %}
		 {% if resultgstvat == '22' %}
		   <div class="col-sm-12" style="margin-bottom:10px; padding:5;">
		     <small class="row col-sm-12 form-text text-muted">Use 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		     <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Debit/Credit Note. Press 'Esc' key to exit from the table.</small>
		   </div>
		   <table id="drcrnote_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablecrnote">
		 {% else %}
		     <div class="col-sm-12" style="margin-bottom:10px; padding:5;" id="vathelp" hidden>
		       <small class="row col-sm-12 form-text text-muted">Use 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		       <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Debit/Credit Note. Press 'Esc' key to exit from the table.</small>
		     </div>
		     
		     <table id="drcrnote_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablecrnote" hidden>
		 {% endif %}
		 <thead class="bg-primary">
		   <tr>
		     <th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
		     <th class="qtyvwrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
		     <th class="qtyvwrap text-center">{% trans %}Price Per Unit{% endtrans %}</th>
		     {% if drcrflag == "3" %}
		       <th class="smvwrap text-center creditedvalue">{% trans %}Credited Value{% endtrans %}</th>
		     {% else %}
		       <th class="smvwrap text-center creditedvalue">{% trans %}Debited Value{% endtrans %}</th>
		     {% endif %}
		     <th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
		     <th class="ratewrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
		     <th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
		     <th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
		     <th class="crosswrap"></th>
		   </tr>
		 </thead>
		 <tbody>
		   <tr>
		     <td class="mdvwrap">
		       <label class="product_name_vat" data-productcode=""></label>
		     </td>
		     <td class="qtyvwrap">
		       <div class="input-group">
			 <input type="text" class="drcrnote_product_quantity_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" aria-describedby="unitaddon" disabled>
			 <span class="input-group-addon input-sm unitaddon"></span>
		       </div>
		     </td>
		     <td class="qtyvwrap">
		       <input type="text" class="drcrnote_product_per_price_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" disabled>
		     </td>
		     <td class="smvwrap creditedvalue">
		       <input type="text" class="drcrnote_product_rate_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" >
		     </td>
		     <td class="smvwrap">
		       <input type="text" class="drcrnote_product_taxablevalue_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" disabled>
		     </td>
		     <td class="ratewrap">
		       <input type="text" class="drcrnote_product_tax_rate_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" disabled>
		     </td>
		     <td class="smvwrap">
		       <input  size="10" class="drcrnote_product_tax_amount_vat form-control text-right numtype"  value="0.00" placeholder="0.00" disabled>
		     </td>
		     <td class="smvwrap">
		       <input size="10" type="text" class="drcrnote_product_total form-control input-sm text-right numtype" value="0.00" placeholder="0.00" disabled>
		     </td>
		     <td class="crosswrap">
		     </td>
		   </tr>
		 </tbody>
		 <tfoot>
		   <tr>
		     <td colspan="4" class="text-right">
		       {% trans %}Total{% endtrans %}
		     </td>
		     <td class="smvwrap">
		       <input type="text" id="taxablevaluetotal_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		     </td>
		     <td class="ratewrap">

		     </td>
		     <td class="smvwrap">
		       <input type="text" id="totaltax" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		     </td>
		     <td class="smvwrap">
		       <input type="text" id="total_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		     </td>
		     <td class="crosswrap">

		     </td>
		   </tr>
		 </tfoot>

		     </table>
	       {% endif %}
	       {% if resultgstvat == '29' or resultgstvat == '7' %}
		 <div class="row col-sm-12" id="gstproducttable">
		   <div class="col-sm-12" style="border: solid black 1px; margin-bottom:10px; padding:10;">
		     <div class="row col-sm-12 text-primary">{% trans %}Please scroll horizontally to see all fields in this table.{% endtrans %}</div>
		     <small class="row col-sm-12 form-text text-muted">Use 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		     <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Debit/Credit Note. Press 'Esc' key to exit from the table.</small>
		   </div>
		   <div class="col-sm-10" style="overflow-x:scroll;">
		     <div class="row">
		       <table id="drcrnote_product_table_gst_heading" class="nopadding table table-condensed table-bordered" style="width:150%; max-width:150%">
			 
			 
			 <thead class="bg-primary">
			   <tr>
			     <th rowspan="2" class="mdwrap text-center">{% trans %}Product/ Service{% endtrans %}</th>
			     <th rowspan="2" class="smwrap text-center">{% trans %} HSN/ ACS Code{% endtrans %}</th>
			     <th rowspan="2" class="qtywrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
			     <th rowspan="2" class="qtywrap text-center">{% trans %}Price Per Unit{% endtrans %}</th>
			     {% if drcrflag == "3" %}
			       <th rowspan="2" class="smwrap text-center creditedvalue">{% trans %}Credited Value{% endtrans %}</th>
			     {% else %}
			       <th rowspan="2" class="smwrap text-center creditedvalue">{% trans %}Debited Value{% endtrans %}</th>
			     {% endif %}
			     <th rowspan="2" class="smwrap text-center">{% trans %}Taxable Value {% endtrans %}</th>
			     <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}CGST{% endtrans %}</th>
			     <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}SGST/UTGST{% endtrans %}</th>
			     <th colspan="2" class="taxwrap text-center igstfield">{% trans %}IGST{% endtrans %}</th>
			     <th colspan="2" class="taxwrap text-center">{% trans %}CESS{% endtrans %}</th>
			   </tr>

			   <tr>
			     <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			     <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
			     <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			     <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
			     <th class="igstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			     <th class="igstfield text-center">{% trans %}Amount{% endtrans %}</th>
			     <th class="text-center">{% trans %}Rate{% endtrans %} %</th>
                             <th class="text-center">{% trans %}Amount{% endtrans %}</th>
			   </tr>
			 </thead>
		       </table>
		     </div>
		     <div class="row">
		       <table id="drcrnote_product_table_gst" class="nopadding table table-condensed table-bordered fixed-table fixed-tablecrnote" style="width:148.5%; max-width:148.5%; overflow-x:hidden;overflow-y:scroll;">
			 <tbody>
			   <tr>
			     <td class="mdwrap">
			       <label class="product_name_gst" data-gsflag="" data-productcode=""></label>
			     </td>
			     <td class="smwrap text-center" style="vertical-align:middle;">
			       <label class="drcrnote_product_hsncode text-center"></label>
			     </td>
			     <td class="qtywrap">
			       <div class="input-group">
				 <input type="text" class="drcrnote_product_quantity_gst form-control input-sm text-right numtype" size="8" value="0.00" placeholder="0.00" aria-describedby="unitaddon" disabled>
				 <span class="input-group-addon input-sm unitaddon"></span>
			       </div>
			     </td>
			     <td class="qtywrap">
			       <input type="text" class="drcrnote_product_per_price_gst form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
			     </td>
			     <td class="smwrap creditedvalue">
			       <input type="text" class="drcrnote_product_rate_gst form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="9" >
			     </td>
			     <td class="smwrap">
			       <input type="text" class="drcrnote_product_taxablevalue_gst form-control input-sm text-right numtype" value="0.00" size="9" placeholder="0.00" disabled>
			     </td>

			     <td class="taxcell sgstfield"><input type="text" class="drcrnote_product_cgstrate trate form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			     <td class="taxcell sgstfield"><input type="text" class="drcrnote_product_cgstamount tamount form-control input-sm text-right numtype" size="8" value="0.00" placeholder="0.00" disabled></td>

			     <td class="taxcell  sgstfield"><input type="text" class="drcrnote_product_sgstrate trate form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			     <td class="taxcell sgstfield"><input type="text" class="drcrnote_product_sgstamount tamount input-sm form-control text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>

			     <td class="taxcell igstfield">
			       <input type="text" class="drcrnote_product_igstrate trate input-sm text-right form-control numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			       <td class="taxcell igstfield"><input type="text" class="drcrnote_product_igstamount tamount form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
			       </td>
			       <td class="taxcell">
                                 <input type="text" class="drcrnote_product_cessrate trate input-sm text-right form-control numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
                                 <td class="taxcell"><input type="text" class="drcrnote_product_cessamount tamount form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
                                 </td>
                           </tr>
                         </tbody>
		       </table>
		     </div>
		     <div class="row">
		       <table id="drcrnote_product_table_gst_tfoot" class=" table table-condensed table-bordered fixed-table fixed-tablecrnote" style="width:148.5%; max-width:148.5%;">
			 <tfoot>
			   <tr>
			     <td colspan="6" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">Total</td>
			     <td class="text-right smwrap"><span id="taxablevaluetotal_product_gst" class="input-sm text-right" size="8"></span></td>
			     <td colspan="2" class="text-right sgstfield taxwrap"><span id="totalcgst_product_gst" class="input-sm text-right" size="8"></span></td>

			     <td colspan="2" class="text-right sgstfield taxwrap"><span id="totalsgst_product_gst" class="input-sm text-right" size="8"></span></td>
			     <td colspan="2" class="text-right igstfield taxwrap" hidden><span id="totaligst_product_gst" class="input-sm text-right" size="8"></span></td>
			     <td colspan="2" class="text-right taxwrap"><span id="totalcess_product_gst" class="input-sm text-right" size="8"></span></td>
			 </tfoot>
		       </table>
		     </div>
		   </div>
		   <div class="col-sm-2 nopadding">
		     <table id="drcrnote_product_table_total" class="table table-condensed table-bordered fixed-table fixed-tablecrnote">
		       <thead>
			 <tr>
			   <th style="line-height:380% !important; text-align:center;" class="col-xs-8">Total</th>
			   <th class="col-xs-4"></th>
			 </tr>
		       </thead>
		       <tbody>
			 <tr>
			   <td class="col-xs-8"><input type="text" class="drcrnote_product_total form-control input-sm text-right numtype" value="0.00" size="14" placeholder="0.00" disabled>
			   </td>
			   <td class="col-xs-4 text-center">
			   </td>
			 </tr>
		       </tbody>
		       <tfoot>
			 <td class="col-xs-8 text-right">
			   <span id="total_product_gst" class="input-sm text-right" size="9"></span>
			 </td>
			 <td class="col-xs-4">
			   
			 </td>
		       </tfoot>
		     </table>
		   </div>
		 </div>
	       {% endif %}
	     </div>  
	 </div><!--End .container-fluid -->
	 <div class="col-sm-12" style="margin-top:0.2cm;">
	   <div class="col-sm-4">
	   </div>
	   <div class="col-sm-4">
	   </div>
	   <div class="col-sm-4">
	   <div class="row">
	     <div class="form-group form-inline">
	       <div class="col-sm-7">
		 <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Amount{% endtrans %} :</label>
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="taxableamount" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   <div class="row hborderdiv gstfield sgstfield">
	     <div class="form-group sgstfield form-inline">
	       <div class="col-sm-7">
		 <label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="totalsgtax" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   <div class="row hborderdiv gstfield sgstfield">
	     <div class="form-group sgstfield form-inline">
	       <div class="col-sm-7">
		 <label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="totalcgtax" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   <div class="row hborderdiv gstfield igstfield">
	     <div class="form-group igstfield form-inline">
	       <div class="col-sm-7">
		 <label for="totaligtax" style="font-size:100% !important;">{% trans %}Total IGST{% endtrans %} :</label>
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="totaligtax" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   <div class="row hborderdiv gstfield">
	     <div class="form-group form-inline">
	       <div class="col-sm-7">
		 <label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="totalinvcess" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   <div class="row hborderdiv vatfield">
	     <div class="form-group form-inline">
	       <div class="col-sm-7">
		 <label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="totalinvtax" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   <div class="row hborderdiv" style="border-bottom-style:solid;">
	     <div class="form-group form-inline">
	       <div class="col-sm-7">
		 {% if drcrflag == "3" %}
		   <label for="totaldrcrnotevalue" style="font-size:100% !important;">{% trans %}Total Credit Note Amount{% endtrans %} :</label>
		 {% else %}
		   <label for="totaldrcrnotevalue" style="font-size:100% !important;">{% trans %}Total Debit Note Amount{% endtrans %} :</label>
		 {% endif %}
	       </div>
	       <div class="col-sm-5 text-right">
		 <label id="totaldrcrnotevalue" class="summarylabel" style="font-size:100% !important; font-weight:normal !important"></label>
	       </div>
	     </div>
	   </div>
	   </div>
	 </div>
	 </div>
	 <div class="panel-footer ">
	   <div class="container-fluid">
             <button class="btn btn-success btn-sm" id="drcrnote_save" data-toggle="tooltip" data-placement="top" title="Press Insert anywhere on the current screen to save" accesskey="s"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
             <button id="drcrnote_reset" class="btn btn-warning btn-sm" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
	   </div>
	 </div>
			   </div>
       <div id="confirm_yes" class="modal" tabindex="-1" role="dialog">
	 <div class="vertical-alignment-helper">
	   <div class="modal-dialog modal-sm vertical-align-center">
             <div class="modal-content">
               <div class="modal-header">

		 <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
               </div>
               <div class="modal-body">
		 <p>{% trans %}Are you sure?{% endtrans %}</p>
               </div>
               <div class="modal-footer">
		 <button type="button" id ="dc_save_no" class="btn btn-warning btn-sm" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
		 <button type="button" id="dc_save_yes" data-dismiss="modal" class="btn btn-success btn-sm">{% trans %}Yes{% endtrans %}</button>
               </div>
	     </div>
	   </div>
	 </div>
       </div>
   </div> <!--End .cantainer-fluid -->
   <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/adddrcrnote.js')}}"></script>
 </body>
</html>
