<body>
  <div class="container-fluid" style="padding:1 !important; margin:0 !important;">
    
    <div class="alert alert-danger" id="pro-blank-alert"  aria-live="rude" role="alert" hidden>
      {% trans %}Please enter product name!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>
      
      {% trans %}Please select Product!{% endtrans %}
    </div>
    <div class='panel '>
      <div class="panel-body">
	<form id="editprodform">
  {% if gkresult == [] %}
           <div class="bg-danger" style="text-align:center;padding-top:3px;padding-bootom:9px">
		  <label class="text-danger">{% trans %}No Product/Service Found!{% endtrans %}</label>
      <div>
      {% else %}
	  <div class="container-fluid row nopadding" style="width: 48%;">
	    <div class="form-group  col-sm-6">
	      <div class="form-group col-sm-11" style="margin-left: -6%; width: 212%;">
		  <label for="prodselect" id="prodselect_lbl">{% trans %}List of Products {% endtrans %} :</label>
		  <select class = "form-control input-sm"  name = "productcode" id="prodselect" >
		    <option value="" disabled selected hidden>{% trans %}Select Product{% endtrans %}</option>
		    {% for prod in gkresult %}
		      <option value="{{prod['productcode']}}">{{prod["productdesc"]}}</option>
		    {% endfor %}
		{% endif %}
		  </select>
	      </div>

	    </div>
	  </div>
	  <div class="container-fluid" id="proddetails" style="padding:1 !important; margin:0 !important;" disabled >

	  </div>
	</form>
      </div>
      <div class="btn-group-sm pbutn panel-footer" hidden>
        <div class="container-fluid">

          <button class="btn btn-success btn-sm" id="epsubmit" accesskey="s" name="submit" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
          <button id="epedit" class="btn btn-primary btn-sm" accesskey="e"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %}
            <u>E</u>dit{% endtrans %}</button>
          <button id="epdelete" class="btn btn-danger btn-sm" accesskey="d"></i> {% trans %}<u>D</u>elete{% endtrans %}</button>
          <button id="epreset" class="btn btn-warning btn-sm" accesskey="t"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}Rese<u>t</u>{% endtrans %}</button>
          {% if userrole|int != 3 %}<button id="addgodown" class="btn btn-info btn-sm" accesskey="a" style="display:none"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}<u>A</u>dd Godown{% endtrans %}</button>{% endif %}
	</div>

      </div>
      <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
        <div class="vertical-alignment-helper">
          <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans %}Are you sure?{% endtrans %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" id ="m_cancel" class="btn btn-warning btn-sm" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button type="button" id="proddel" data-dismiss="modal" class="btn btn-danger btn-sm">{% trans %}Delete{% endtrans %}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </div><!-- /.modal -->
      <div id="addgodownpopup">

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editproductvat.js')}}"></script>
</body>
