<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Invoice{% endtrans %}</title>
  <style media="screen">
   .nopadding {
       padding: 0 !important;
       margin: 0 !important;
   }

   .fixed-table td {
       font-size: 75%;
       padding: 4 !important;
       margin: 4 !important;
   }
   .fixed-table th {
       font-size: 85%;
   }

   .fixed-tablepurchase tbody {
       display:block;
       height: calc(100vh - 35.5em);
       min-height: 160px;
       overflow-y:scroll;
   }

   .fixed-tablesale tbody {
       display:block;
       height: calc(100vh - 35.5em);
       min-height: 140px;
       overflow-y:scroll;
   }


   .viewfixed-tablepurchase tbody {
       display:block;
       height: calc(100vh - 28.5em);
       min-height: 160px;
       overflow-y:scroll;
   }

   .viewfixed-tablesale tbody {
       display:block;
       height: calc(100vh - 33em);
       min-height: 140px;
       overflow-y:scroll;
   }


   .fixed-table thead ,.fixed-table tbody tr,.fixed-table tfoot tr {
       display:table;
       width:100%;
       table-layout:fixed;
   }
   .fixed-table thead {
       width: calc( 100% - 0.75em );
   }

   .fixed-table tfoot {
       display:block;
       width: calc( 100% - 0.75em );
   }

  </style>
</head>
<body>
  <div id="listdiv" class="container-fluid row" >
    <i class="fa fa-question-circle pull-right" style="font-size:16px;color:black;margin-right:10px;margin-top:13px;" data-toggle="modal" data-target="#invModal"></i>
    <ul class="nav nav-pills nav-tabs hidden-print" role="tablist">
      <li role="presentation" class="active"><a href="" id="invoice_record" role="tab" data-toggle="tab" accesskey="1" class="invtab">{% trans %} Record Purchase Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_create" role="tab" data-toggle="tab" accesskey="2" class="invtab">{% trans %} Create Sale Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_view_purchase" role="tab" data-toggle="tab" accesskey="3" class="invtab">{% trans %}Rectify Purchase Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_view_sale" role="tab" data-toggle="tab" accesskey="4" class="invtab">{% trans %}Rectify Sale Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_view_list" role="tab" data-toggle="tab" accesskey="5" class="invtab">{% trans %}View Invoice{% endtrans %}</a></li>
    </ul>
    <div class="tab-content" style="width:100%;">
      <div role="tabpanel" class="tab-pane active" id="invoice_div">

      </div>
      <input id="selectedcustsup" type="hidden">
    </div>
  </div>
  <div id="viewinvdiv" hidden>
    <div class="panel editblank printnopadding">
      <div class="panel-body editblank printnopadding">
	<div id="invload">
	  
	</div>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-4" id="buttondiv">
      <button type="button" class="btn btn-sm btn-danger pull-right" id="backbutton" accesskey="k" style="margin-left:10px;"><i class="fa fa-arrow-left" style="margin-right:5px;" aria-hidden="true"></i>{% trans %}Bac<u>k</u>{% endtrans %}</button>
      <button id="editbutton" class="btn btn-info btn-sm pull-right" accesskey="e" style="margin-left:10px;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:5px;"></i> {% trans %}R<u>e</u>ctify{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary pull-right" id="printbutton" accesskey="t"><i class="fa fa-print" aria-hidden="true" style="margin-right:5px;"></i>{% trans %}Prin<u>t</u>{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-info pull-right" id="viewattachment" accesskey="w" style="display:none">{% trans %}Vie<u>w</u> Attachment{% endtrans %}</button>
    </div>
  </div>
  
  <div id="invModal" tabindex="-1" class="modal fade" role="dialog" style="width:650px; margin-top:100px; margin-left:300px;"  aria-hidden="true">
    <div class="modal-dialog bgcolor">
      <div class="modal-content ">
	<div class="modal-header">
	  {% trans %}<strong>Help!</strong>{% endtrans %}
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body" style="text-align: justify; text-justify: inter-word;">
	  
	  <p><font color=" #566573"> {%trans%}
	    This is the module for GST and VAT compatible invoices.<br>
	    You can enter all the invoicing details including the product, service
	    or combination there-off.<br>
	    Select the delivery challan for invoice creation against delivery challan.
	    The details of the selected delivery challan, such as product, customer/supplier are filled automatically.<br>
	    Needless to say that for product you also enter it's quantity.<br>
	    Tax is automatically selected on the product.<br>
	    Select the name of customer in case of sales invoice or supplier in the
	    case of purchase invoice.<br>
	    Choose the tax applicable for the invoice 'VAT' or 'GST'.</br>
	    If you have chosen to generate sales and purchase transactions
	    automatically, they will be generated when you save the invoice.<br>
	    If payment is on Cash or Bank type then the available default cash or
	    bank account will be affected.<br>
	    If the invoice is on credit then the respective customer or supplier
	    account will be affected for sales or purchase invoice respectively.<br>	    
{%endtrans %} </font>
	  </p>
	</div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/invoice.js')}}"></script>
</body>
</html>
